{% extends "app/layout.html" %}

{% block content %}

{% load static %}



<div class="jumbotron">
    <h1>Первый музыкальный</h1>
    <p class="lead">Музыкальный магазин с большим ассортиментом инструментов в наличии и более 8000 товаров под заказ.</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Узнать больше &raquo;</a></p>
</div>
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="20000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="{% static 'app/content/banner_1.jpg'%} " alt="Первый слайд" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Текст для баннера 1
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        Читать далее
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="{% static 'app/content/banner_2.jpg'%}" alt="Второй слайд" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Текст для баннера 2
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                        Читать далее
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src=" {% static 'app/content/banner_3.jpg'%} " alt="Третий слайд" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Текст для баннера 3
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409">
                        Читать далее
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Знаменитые бренды</h2>
        <p>
            Мечтали прикоснуться к инструментам, на которых высекают знаменитые хиты на крупных сценах? У нас под заказ вы можете исполнить свою давнюю мечту. Либо прийдя к нам в магазин.
        </p>
        <p><a class="btn btn-default" href="https://djangobook.com/django-tutorials/">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Гарантия качества</h2>
        <p>Помимо гарантии производителя, магазин предоставляет пол года личной гарантии на товар. Смело приходите к нам в случае проблем, наши менеджеры помогут вам.</p>
        <p><a class="btn btn-default" href="https://pypi.org/">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Следите за нами во всех популярных соцсетях</h2>
        <p>Мы каждый день публикуем интересные статьи, информируем о новых поступлениях. Рекомендуем подписаться, мы так же выкладываем промокоды в честь особых дат. Информацию о начале акций и скидок так же можете найти в наших соцсетях.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Узнать больше &raquo;</a></p>
    </div>
</div>

{% endblock %}
